# Download codebase
repo_url="git@github.com:AliceOfSNU/LLMstudy_24.git" 
clone_dir="./LLM11667"
echo "cloning github repo into $clone_dir" 
git clone "$repo_url" "$clone_dir" 
git config --global user.name "Hanjun Kim"
git config --global user.email "khjune29@gmail.com"

# Install requirements
echo "installing requirements"
cd $clone_dir
pip install -r "./hw1/requirements.txt"

# Copy Data from Drive
# if any additional data needs to be fetched from drive

# done
echo "setup done"
